# APPLICATION
APPLICATION_TITLE="FastAPI Clean Architecture and DDD Template"
APPLICATION_SUMMARY="This is a Python microservice template using FastAPI, designed to follow Clean Architecture and Domain-Driven Design (DDD) principles."
APPLICATION_DESCRIPTION="### 🚀 FastAPI Clean Architecture and DDD Template

This template provides a structured approach to building Python microservices with FastAPI, emphasizing Clean Architecture and Domain-Driven Design (DDD) principles. It is ideal for developers looking to create scalable and maintainable applications.

This template includes:
- **FastAPI**: A modern, fast (high-performance), web framework for building APIs with Python 3.6+ based on standard Python type hints.
- **Clean Architecture**: A software design pattern that separates the concerns of the application, making it easier to maintain and test.
- **Domain-Driven Design (DDD)**: A software design approach that focuses on modeling the domain of the application, ensuring that the business logic is at the core of the application.
- **Logging**: Configured logging for better observability and debugging.
- **Environment Configuration**: Easy management of environment variables for different deployment environments (development, homologation, production).
- **Security**: Basic security setup with API key authentication.

Ideal for building robust and scalable microservices in Python.
"
APPLICATION_VERSION="1.0.0"
APPLICATION_CONTACT_NAME="Bruno Tanabe"
APPLICATION_CONTACT_URL="https://github.com/BrunoTanabe"
APPLICATION_CONTACT_EMAIL="tanabebruno@gmail.com"
APPLICATION_CONTACT_PHONE="+55 (12) 98844-1848"
APPLICATION_PORT=8000
APPLICATION_ENVIRONMENT="dev"
APPLICATION_CONNECT_TIMEOUT_SECONDS=30
APPLICATION_URL="http://localhost:8000"
APPLICATION_TABLE_PREFIX="fastapi_clean_architecture_ddd_template"


# AUTH
AUTH_BEARER_TOKEN_SCHEME_NAME="BearerAuth"
AUTH_BEARER_TOKEN_SCHEME_DESCRIPTION="Bearer token authentication using JWT."
AUTH_API_KEY_SCHEME_NAME="ApiKeyAuth"
AUTH_API_KEY_SCHEME_DESCRIPTION="API key authentication using the X-API-Key header."
AUTH_API_KEY_HEADER="X-API-Key"
AUTH_API_KEY_HEADER_DESCRIPTION="API key to access the application. This key is used to authenticate requests to the API."


# COOKIES
COOKIES_MAX_AGE_SECONDS=
COOKIES_TOKEN_TYPE_KEY=
COOKIES_ACCESS_TOKEN_KEY=
COOKIES_ACCESS_TOKEN_PATH=
COOKIES_REFRESH_TOKEN_KEY=
COOKIES_REFRESH_TOKEN_PATH=
COOKIES_DEVICE_KEY=
COOKIES_DOMAIN=


# JWT
JWT_ISSUER=
JWT_AUDIENCE=
JWT_SIGNING_KEY_PASSWORD=
JWT_ENCRYPTION_KEY_PASSWORD=
JWT_SIGNING_PRIVATE_KEY_PATH=secrets/keys/signing-private.pem
JWT_SIGNING_PUBLIC_KEY_PATH=secrets/keys/signing-public.pem
JWT_ENCRYPTION_PRIVATE_KEY_PATH=secrets/keys/encryption-private.pem
JWT_ENCRYPTION_PUBLIC_KEY_PATH=secrets/keys/encryption-public.pem
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=
JWT_HASH_FINGERPRINT=


# LOGS
LOGS_NAME="fastapi-clean-architecture-ddd-template"
LOGS_PATH="logs"
LOGS_LEVEL="INFO"
LOGS_REQUEST_ID_LENGTH=8
LOGS_PYGMENTS_STYLE="monokai"


# POSTGRESQL
POSTGRESQL_DATABASE=
POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
POSTGRESQL_PORT=
POSTGRESQL_HOST=


# PGADMIN
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=


# SECURITY SETTINGS
SECURITY_ALLOW_ORIGINS=
SECURITY_ALLOW_HEADERS=
SECURITY_ALLOW_METHODS=
SECURITY_EMAIL_ALLOWED_DOMAINS=
SECURITY_ADMIN_EMAIL=
SECURITY_ADMIN_PASSWORD=
